################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildOutput/
/Source/Core/obj/Debug
/Source/Core.UnitTest/obj/Debug
/Source/packages
/Source/.vs/Topichat/v14

*.userprefs
*.suo
/Source/.vs/config
*.user
/Source/UI/UI.iOS/bin

Source/App/obj/

Source/Droid/obj/

Source/iOS/obj/
*.bak

/Source/App/UWP/obj