################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildOutput/
/Source/.vs/Chatopia/v14
/Source/Core/obj/Debug
/Source/Core.UnitTest/obj/Debug
/Source/Droid/obj/Debug
/Source/iOS/obj
/Source/iOS.UnitTest/obj
/Source/packages
/Source/.vs/Topichat/v14

*.userprefs
*.suo
/Source/UI/UI/obj/Debug
/Source/UI/UI.Android/obj/Debug
/Source/UI/UI.iOS/obj/iPhone/Debug
/Source/UI/UI.UWP/obj/x86/Debug
/Source/.vs/config
/Source/Droid/Topichat.Droid.csproj.user
